nav-bar {
  .navbar {
    background-color: $backgroundDark;
  }
  .navbar-brand {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
    font-family: cursive;
    background-color: $backgroundLight;
    opacity: 0.4;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 15px;
  }
  .navbar-btn , .btn {
    font-family: cursive;
    font-weight: bold;
    background-color: $backgroundLight;
    border: solid black 2px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px black;
    margin: 20px 20px;;
  }
}
